* {
  margin: 0;
  padding: 0;
}
body {
  color: rgba(255, 255, 255, 0.8);
  background-color: #282c34;
}
h1 {
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
